<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Unbounded&display=swap" rel="stylesheet">
    <title>{{ title }} Customer Orders</title>
</head>
<body>
    <main>
    <h1>Bountiful Books</h1>
    <h2>Customer Order List</h2>
    <section class="container">
            <p>Customer</p>
            <p>Date</p>
            <p>Book</p>
            <p>Quantity</p> 
            <p>Order Info</p>
    {% for order in orders %}
            <p>{{ order.customer_name }}</p>
            <p>{{ order.order_date}}</p>
            <p>{{ order.book_title}}</p>
            <p>{{ order.quantity}} </p>
           <a href="/orders/{{orders.index(order)}}"> Show Order </a>
    {% endfor %}

    
</section>
</main>
</body>
</html>